@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  scroll-behavior: smooth;
}
/* Global styles */
body {
  font-family: 'Urbanist', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  color: #e5e7eb;
  background-color: #000;
  overflow-x: hidden;
}

/* Optional classy heading font (Prata combo use karni ho to) */
.prata-regular {
  font-family: 'Prata', serif;
  font-weight: 400;
  font-style: normal;
}

/* Gold text + gradient helpers */

